body{
  margin: 0;
  min-height: 100vh;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 2.3vh;
}

a{
  text-decoration: none;
  color: white;
}

aside.logo{
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 2;

  img{
    height: 70px;
    width: auto;
  }
}

aside#jump-top{
  position: fixed;
  bottom: 10px;
  right: 18px;
  z-index: 2;

  p{
    background-color: rgba(16,16,16,0.4);
    font-size: 16pt;
    line-height: 32px;
    padding: 6px 14px 0 12px;
    border: 1px solid transparent;
    border-radius: 999px;
    cursor: pointer;
  }
}

article{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;

  div{
    position: absolute;

    h1, h2, a{
      text-transform: uppercase;
    }
  }

  &.hero-text{
    background-image: url(assets/hero.jpeg);
    text-align: center;

    div{
      font-size: 130%;
      top: 10%;
      left: 25%;
      width: 50%;

      h1, h2{
        margin-bottom: 12vh;

        &:nth-child(3){
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
        }
      }
    }
  }

  &.digital-campaigns, &.websites-platforms{

    div{
      width: 35%;
      top: 30%;
      left: 3%;

      h1{
        font-size: 200%;
      }

      p{
        font-size: 120%;
      }

      a{
        display: inline-block;
        font-size: 150%;
        padding: 10px;
        border: 3px solid white;
        margin-top: 7%;

        &:hover{
          background-color: white;
        }
      }
    }
  }

  &.digital-campaigns{
    background-image: url(assets/digital-campaigns.jpeg);    

    div{
      a{
        &:hover{
          color: #88684f;
        }
      }
    }
  }

  &.websites-platforms{
    background-image: url(assets/websites-platforms.jpeg);

    div{
      a{
        &:hover{
          color: #d8d6ad;
        }
      }
    }
  }

  &.portfolio{
    height: 30vh;
    min-height: 300px !important;
    background-color: #674db2;
    text-align: center;

    div{
      position: relative;
      padding-top: 5%;
      a{
        display: inline-block;
        font-size: 150%;
        padding: 10px;
        border: 3px solid white;
        margin-top: 1%;

        &:hover{
          background-color: white;
          color: #674db2;
        }
      }
    }
  }
}

footer{
  height: 50vh;
  min-height: 300px !important;
  background-color: #2f3033;
  text-align: center;
  position: relative;

  h1:first-child{
    margin-top: 0;
    padding-top: 20px;

    &::after{
      content: "";
      width: 20%;
      left:40%;
      margin-top: 1%;
      display: block;
      position: absolute;
      border-bottom: 2px solid white;
    }
  }

  p{
    width: 80%;
    margin: auto;
  }

  div{
    margin-top: 100px;

    p{
      display: inline-block;
      width: auto;

      &:first-child{
        margin-right: 10vw;
      }

      &:last-child{
        margin-left: 10vw;
      }
    }
  }

  section{
    position: absolute;
    bottom: 30px;
    width: 100%;

    &::before{
      content: '';
      display: block;
      border-top: 2px solid white;
      margin-bottom: auto;
      height: 30px;
      width: 90vw;
      margin: 0 5vw;
    }
  }
}

@media screen and (min-height: 1081px){
  article.hero-text{
    div{
      top: 8%;

      h1, h2{
        margin-bottom: 10%;
      }
    }
  }
}