body {
  margin: 0;
  min-height: 100vh;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 2.3vh; }

a {
  text-decoration: none;
  color: white; }

article {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative; }
  article div {
    position: absolute; }
    article div h1, article div h2, article div a {
      text-transform: uppercase; }
  article.hero-text {
    background-image: url(assets/hero.jpeg);
    text-align: center; }
    article.hero-text div {
      font-size: 130%;
      top: 10%;
      left: 25%;
      width: 50%; }
      article.hero-text div h1, article.hero-text div h2 {
        margin-bottom: 12vh; }
        article.hero-text div h1:nth-child(3), article.hero-text div h2:nth-child(3) {
          width: 90%;
          margin-left: 5%;
          margin-right: 5%; }
  article.digital-campaigns div, article.websites-platforms div {
    width: 35%;
    top: 30%;
    left: 3%; }
    article.digital-campaigns div h1, article.websites-platforms div h1 {
      font-size: 200%; }
    article.digital-campaigns div p, article.websites-platforms div p {
      font-size: 120%; }
    article.digital-campaigns div a, article.websites-platforms div a {
      display: inline-block;
      font-size: 150%;
      padding: 10px;
      border: 3px solid white;
      margin-top: 7%; }
      article.digital-campaigns div a:hover, article.websites-platforms div a:hover {
        background-color: white; }
  article.digital-campaigns {
    background-image: url(assets/digital-campaigns.jpeg); }
    article.digital-campaigns div a:hover {
      color: #88684f; }
  article.websites-platforms {
    background-image: url(assets/websites-platforms.jpeg); }
    article.websites-platforms div a:hover {
      color: #d8d6ad; }
  article.portfolio {
    height: 30vh;
    min-height: 300px !important;
    background-color: #674db2;
    text-align: center; }
    article.portfolio div {
      position: relative;
      padding-top: 5%; }
      article.portfolio div a {
        display: inline-block;
        font-size: 150%;
        padding: 10px;
        border: 3px solid white;
        margin-top: 1%; }
        article.portfolio div a:hover {
          background-color: white;
          color: #674db2; }

footer {
  height: 40vh;
  min-height: 300px !important;
  background-color: #2f3033;
  text-align: center; }
  footer h1:first-child {
    margin-top: 0;
    padding-top: 20px; }
    footer h1:first-child::after {
      content: "";
      width: 20%;
      left: 40%;
      margin-top: 1%;
      display: block;
      position: absolute;
      border-bottom: 2px solid white; }
  footer p {
    width: 80%;
    margin: auto; }
  footer div p {
    display: inline-block;
    width: auto;
    height: 14vh; }
    footer div p:first-child {
      margin-right: 10vw; }
    footer div p:last-child {
      margin-left: 10vw; }

@media screen and (min-height: 1081px) {
  article.hero-text div {
    top: 8%; }
    article.hero-text div h1, article.hero-text div h2 {
      margin-bottom: 10%; } }

/*# sourceMappingURL=style.css.map */
